<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Sistema de entregas</h1>

			<nav>
				<%= link_to 'Transportadoras', carriers_path %>
			</nav>
		</div>
	</div>
</div>